{#
/**
 * @file
 * Template for the NBG Currency block.
 *
 * Available variables:
 * - currency_data: array of currency data.
 */
#}

<table>
  {% for k, v in currency_data %}
    <tr>
      <td>{{ k }}</td>
      <td>{{ v.currency }}</td>
      <td style="color: {{ v.rate == -1 ? 'red' : 'green' }}">
        {{ v.change }}
      </td>
    </tr>
  {% endfor %}
</table>
